<section class="masthead">
    <div class="language-nav">
        <ul>
            <li><a href="">CSS</a></li> 
            <li><a href="">HTML</a></li> 
            <li><a href="">JAVASCRIPT</a></li> 
            <li><a href="">RUBY</a></li>
        </ul>
    </div>
    <div class="logo">
        <%= image_tag "AA_Times_Logo.png", :class => "logo"%>
    
    </div>

    <ul class="masthead-links">
        <li><%= Date.today.strftime("%A, %B %e, %Y") %></li>
        <li>
          <i class="fa fa-newspaper" ></i>
          <a href="">Today's Paper</a>
        </li>
        <li>
          <i class="fa fa-video" ></i>
          <a href="">Video</a>
        </li>
        <li>
            <button>77°F</button>
        </li>
        <li>
            <button>AAO <strong>+100%</strong></button>
        </li>

    </ul>
    
</section>