<h1>Add a Sub</h1>
<form action="<%=subs_url%>" method="post">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token %>">
    <label>title
    <input type="text" name="sub[title]" value="<%=@sub.title%>">
    </label>
<br>
    <label>description
    <input type="text" name="sub[description]" value ="<%=@sub.description%>" >
    </label>
<br>
    <input type="submit" value="create sub">

</form>